.main-layout {
    display: grid;
    grid-template-columns:
        minmax(20px, 1fr)
        minmax(1200px, 5fr)
        minmax(20px, 1fr);
}

.main-layout > * {
    grid-column: 2;
}

.main-layout > *.full {
    grid-column: -1 / 1;
}
