:root {
    --max-content: 100ch;
    --padding-inline: 2em;
}

.layout-wrapper {
    --max-content: inherit;
    --padding-inline: inherit;

    width: min(var(--max-content), calc(100% - 2 * var(--padding-inline)));
    margin-inline: auto;
}

.full {
    margin-inline: 0;
}
