.hidden {
    display: none;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.g-1 {
    gap: 10px;
}

.g-2 {
    gap: 20px;
}

.g-3 {
    gap: 30px;
}

.g-4 {
    gap: 40px;
}

.g-5 {
    gap: 50px;
}
